.container {
  padding: 20px;
  position: sticky;
  top: 0px;
  z-index: 2;
  backdrop-filter: blur(30px);
  background: rgb(13 13 13 / 75%);
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.field {
  font-size: 15px;
  padding: 5px 5px 5px 13px;
  height: 34px;
  border: none;
  background: #212121;
  text-indent: 22px;
  border-radius: 12px;
  outline: none;
  color: rgb(216, 216, 216);
}

.submit {
  border: none;
  border-radius: 6px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: url(../public/search_icon.svg) center / 26px 26px no-repeat,
    rgb(200, 200, 200);
}

.close {
  border: none;
  border-radius: 6px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: url(../public/close.svg) center / 26px 26px no-repeat,
    rgb(200, 200, 200);
}
